<!DOCTYPE html>
 <html>

   <body>
 	<h1>Welcome to our movie blog site, <%= @customer.first_name %></h1> 
 	<p>       You have successfully signed up   </p>  
 	<p>Thanks for joining, keep on blogging!!!!</p> 
   </body> 
   
 </html> 
 
 
